<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>RPG Music Tags Database</title>
    <link href="/Static/Browse.css" rel="stylesheet" type="text/css" />
    <meta http-equiv="refresh" content="0; URL=/Start" />
</head>
<body>
    <div id="site-top">
        <h1>RPG Music Tags Database</h1>
    </div>

    <div id="page">
        <div id="nav">
            <ul>
                <li><a href="Static/de/index.html">About</a></li>
                <li><a href="Static/de/browse.html">Browse</a></li>
                <li><a href="Static/de/tech.html">Technology</a></li>
                <li><a href="stats.html">Statistics</a></li>
                <li><a href="Static/de/api.html">API</a></li>
                <li></li>
                <li><a href="/Static/en/index.html">English Version</a></li>
            </ul>
        </div>
        <div id="content">
            <p>
                Sie werden sofort zur <a href="/Start">Startseite</a> weitergeleitet.
            </p>
        </div>
    </div>
</body>
</html>
