<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="ares.controller.android"
      android:versionName="1.4" android:versionCode="5">
    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="14"/>
    <supports-screens android:xlargeScreens="true" />
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application android:icon="@drawable/icon" android:label="@string/app_name" android:name="Main">
        <activity android:name=".MainActivity"
                  android:label="@string/app_name" android:icon="@drawable/icon">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="FileDialog"></activity>
        <activity android:name="ModesActivity"></activity>
        <activity android:name="ModeActivity"></activity>
        <activity android:name="PrefsActivity"></activity>
        <activity android:name="MusicListActivity"></activity>

    <activity
      android:name="com.dropbox.client2.android.AuthActivity"
      android:launchMode="singleTask"
      android:configChanges="orientation|keyboard">
      <intent-filter>
        <!-- Change this to be db- followed by your app key -->
        <data android:scheme="db-5g36qiqft5s3fk4" />
        <action android:name="android.intent.action.VIEW" />
        <category android:name="android.intent.category.BROWSABLE"/>
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </activity>
    
    </application>
</manifest>