**/bin/
**/obj/
*.suo
/CodeSigning/signing_password.cmd
/CodeSigning/ares_code_signing_certificate.pfx
/Ares.Controller/out
/Ares.AudioSource.Freesound/ApiKey.cs
Ares.AudioSource.Freesound/Visual Studio 2015/
/Ares.Controller/Android/gen/ares/controller/android
Ares.AudioSource.Test/Resources/music.mp3
Ares.AudioSource.Test/Resources/sound.mp3
/build
/packages
