<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ares.TagsImport.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Ares.TagsImport.Settings>
            <setting name="GlobalDbUrl" serializeAs="String">
                <value>http://www.rpgmusictags.org</value>
            </setting>
            <setting name="UploadPath" serializeAs="String">
                <value>Upload</value>
            </setting>
            <setting name="DownloadPath" serializeAs="String">
                <value>Download</value>
            </setting>
            <setting name="UseTestDB" serializeAs="String">
                <value>False</value>
            </setting>
        </Ares.TagsImport.Settings>
    </applicationSettings>
</configuration>