<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>RPG Music Tags Database</title>
    <link href="/Static/Browse.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="site-top">
        <h1>RPG Music Tags Database</h1>
    </div>

    <div id="page">
        <div id="nav">
            <ul>
                <li><a href="/Static/en/index.html">About</a></li>
                <li><a href="/Static/en/browse.html">Browse</a></li>
                <li><a href="/Static/en/tech.html">Technology</a></li>
                <li><a href="/Statistics">Statistics</a></li>
                <li><a href="/Static/en/api.html">API</a></li>
                <li></li>
                <li><a href="/Static/de/index.html">German Version</a></li>
            </ul>
        </div>
        <div id="content">
            @RenderBody() 
        </div>
        <div id="languages">
            @RenderSection("Languages", required: false)
        </div>
    </div>
</body>
</html>
