<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>RPG Music Tags Datenbank</title>
    <link href="/Static/Browse.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <div id="site-top">
        <h1>RPG Musik-Tags Datenbasis</h1>
    </div>

    <div id="page">

        <div id="nav">
            <ul>
                <li><a href="/Static/de/index.html">Über</a></li>
                <li><a href="/Static/de/browse.html">Stöbern</a></li>
                <li><a href="/Static/de/tech.html">Technik</a></li>
                <li><a href="/Statistics?WebLanguage=de">Statistik</a></li>
                <li><a href="/Static/de/api.html">API</a></li>
                <li></li>
                <li><a href="/Static/en/index.html">English Version</a></li>
            </ul>
        </div>

        <div id="content">
            @RenderBody() 
        </div>
        <div id="languages">
            @RenderSection("Languages", required: false)
        </div>
    </div>
</body>
</html>
