<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ares.MGPlugin.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Ares.MGPlugin.Settings>
            <setting name="ServerSearchPort" serializeAs="String">
                <value>8009</value>
            </setting>
            <setting name="CheckForNewVersion" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="StartLocalPlayer" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastUsedProjectsCount" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LastUsedProjectFile0" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedProjectFile1" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedProjectFile2" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedProjectFile3" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedProjectName0" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedProjectName1" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedProjectName2" serializeAs="String">
                <value />
            </setting>
            <setting name="LastUsedProjectName3" serializeAs="String">
                <value />
            </setting>
            <setting name="LastProjectFile" serializeAs="String">
                <value />
            </setting>
            <setting name="AskBeforePlayerStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="MessageLevel" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="HasCheckedSettings" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocalPlayerPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowOverlayPanel" serializeAs="String">
                <value>True</value>
            </setting>
        </Ares.MGPlugin.Settings>
    </userSettings>
</configuration>