<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Ares.MeisterGeisterPlugin"
          publicKeyToken="9d390e07c24a1b09"
          culture="neutral" />
        <bindingRedirect oldVersion="1.2.0.0-2.0.0.0" newVersion="2.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>