<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ares.AudioSource.Freesound.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Ares.AudioSource.Freesound.Settings>
            <setting name="FreesoundApiBase" serializeAs="String">
                <value>http://www.freesound.org/apiv2/</value>
            </setting>
            <setting name="TextSearchPath" serializeAs="String">
                <value>search/text/</value>
            </setting>
        </Ares.AudioSource.Freesound.Settings>
    </applicationSettings>
</configuration>