@inherits ViewPage<AllArtistsResponse>

@{
    Layout = "Browse";
}

<h3>Browsing database by Artists</h3>

<p>There are currently @Model.Results.Count artists in the database.</p>

<table>
    <thead><tr><th>Name</th></tr></thead>
    <tbody>
        @foreach (var artist in Model.Results)
        {
            <tr>
                <td><a href="@artist.Url">@artist.Name</a></td>
            </tr>
        } 
    </tbody>
</table>

@section Languages {
    @Html.Partial("Languages", Model.LanguageResponse)
}
